$color_white: #fff;
$color_gray: rgb(224, 224, 224);
$color_red: rgb(255, 0, 0);
$font_base_size: 14px;
$font_color: rgba(0, 0, 0, 0.85);
$font_hover_color: rgb(24, 144, 255);
$font-family_1: Arial,
Helvetica,
sans-serif;
$background-color_1: rgb(134, 49, 0);
$bg_white: rgba(255, 255, 255, 1);
$background-color_3: rgba(255, 255, 255, .1);